@primary-color: #ff8400;

.h-100p {
  height: 100%;
}

.bg-primary {
  background-color: @primary-color;
}

.h-ln-64 {
  min-height: 64px;
  line-height: 64px;
}

.color-white {
  color: white !important;
}

.margin-0px {
  margin: 0px !important;
}

.h1-heading {
  font-weight: 300 !important;
  font-size: 35px !important;
}

.app-bg-common {
  background-color: #ecebe9a6;
  min-height: calc(100vh - 64px);
}

.font-20 {
  font-size: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}
