/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app-padding {
    padding: 20px;
  }

  .app-header-padding {
    padding: 0px 20px !important;
  }

  .global-search {
    &-div {
      margin-top: 100px;
      margin-bottom: 30px;
      position: relative;
      background-color: white;
      align-items: center;
      //height: calc(100vh - 300px);
    }
    h1 {
      font-size: 40px !important;
      color: black !important;
    }
  }

  .global-search .ant-form-item {
    margin-bottom: 24px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .app-padding {
    padding: 20px;
  }
  .app-header-padding {
    padding: 0px 20px !important;
  }
  .global-search {
    &-div {
      margin-top: 100px;
      margin-bottom: 30px;
      position: relative;
      background-color: white;
      align-items: center;
      //height: calc(100vh - 65px);
    }
  }
  .global-search .ant-form-item {
    margin-bottom: 24px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .app-padding {
    padding: 20px;
  }
  .app-header-padding {
    padding: 0px 20px !important;
  }
  .global-search {
    &-div {
      margin-top: 100px;
      margin-bottom: 30px;
      position: relative;
      background-color: white;
      align-items: center;
      //height: calc(100vh - 65px);
    }
  }
  .global-search .ant-form-item {
    margin-bottom: 24px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .app-padding {
    padding: 50px;
  }
  .app-header-padding {
    padding: 0px 50px !important;
  }

  .global-search {
    &-div {
      margin-top: 0px;
      margin-bottom: 0px;
      display: flex;
      width: 100%;
      position: absolute;
      background-color: #00000078;
      align-items: center;
      height: calc(100vh - 65px);
      bottom: 0px;
    }
  }
  .global-search .ant-form-item {
    margin-bottom: 0px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .app-padding {
    padding: 50px;
  }
  .app-header-padding {
    padding: 0px 50px !important;
  }

  .global-search {
    &-div {
      margin-top: 0px;
      margin-bottom: 0px;
      display: flex;
      width: 100%;
      position: absolute;
      background-color: #00000078;
      align-items: center;
      height: calc(100vh - 65px);
      bottom: 0px;
    }
  }

  .global-search .ant-form-item {
    margin-bottom: 0px !important;
  }
}
