@import "~antd/dist/antd.less";
@import "./responsive.less";
@import "./common.less";
@primary-color: #ff8400;

.app-maxwidth {
  max-width: 2000px;
  margin: auto;
}

.ant-carousel .slick-slide img {
  max-height: calc(100vh - 65px);
}

.ant-carousel .slick-dots li button {
  background: @primary-color !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 20px !important;
  margin: 0 20px !important;
}

.features-card h1,
.features-card h3 {
  color: white !important;
}

.quickbook input {
  padding: 20px;
}

.quickbook button {
  height: 60px !important;
}

.quickbook .ant-picker-large {
  height: 55px !important;
}

.booknow .ant-picker-large .ant-picker-input > input {
  height: auto !important;
}

.booknow input {
  padding: 14px;
  height: 53px !important;
}

.booknow button {
  height: 60px !important;
}

.booknow
  .ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector {
  height: 55px !important;
}

.booknow
  .ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-item {
  line-height: 55px !important;
}

.booknow
  .ant-select-show-search.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  min-height: 55px !important;
}

.global-search .ant-select-selection-placeholder,
.booknow .ant-select-selection-placeholder {
  display: flex;
  align-items: center;
}

.global-search
  .ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector {
  height: 55px !important;
}

.global-search
  .ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-item {
  line-height: 55px !important;
}

.global-search
  .ant-select-single.ant-select-lg:not(.ant-select-customize-input):not(.ant-select-customize-input)
  .ant-select-selection-search-input {
  height: 100% !important;
}

.global-search h1 {
  font-weight: 400;
  font-size: 80px;
  color: white;
  text-align: center;
  //marginTop: "100px",
  margin-bottom: 50px;
}

.hover-curser-pointer:hover {
  cursor: pointer;
}

.box-shadow {
  //box-shadow: 0 2px 8px #f0f1f2;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
}
.grey-bg-fullscr {
  background-color: #fafbfc;
  min-height: 100vh;
}

.grey-bg-fullscr-header {
  background-color: #fafbfc;
  min-height: calc(100vh - 64px);
}

//description
.highlight-description .ant-descriptions-item-label {
  font-weight: 100;
}
.highlight-description .ant-descriptions-item-content {
  font-weight: 600;
}
.ant-descriptions-title {
  font-weight: 200 !important;
  font-size: 18px !important;
}
//description

.total-amt-custom {
  font-size: 24px !important;
  font-weight: 500 !important;
}

.total-amt-custom .ant-input-borderless {
  .total-amt-custom();
}
